{% extends 'base.html' %}

{% block title %} Results {% endblock %}

{% block body %}
<br><br>
<h4>{{length}} record(s) found.</h4>
<br><br>
<table class="table"  id="ResearchersTable">
    <thead class="thead-dark" style="position: sticky;">
        <th>Surname(s)</th>
        <th>Initials</th>
        <th>Title</th>
        <th>Institution</th>
        <th>Rating</th>
        <th>Primary Research</th>
        <th>Secondary Research</th>
        <th>Specializations)</th>
    </thead>
    {% for row in rows %}

        <tr>
              <td>{{row["surname"]}}</td>
              <td>{{row["initials"]}}</td>
              <td>{{row["title"]}}</td>
              <td>{{row["institution"]}}</td>
              <td>{{row["rating"]}}</td>
              <td>{{row["primaryResearch"]}}</td>
              <td>{{row["secondaryResearch"]}}</td>
              <td>{{row["Specializations"]}}</td>

        </tr>
    {% endfor %}
</table>

{% endblock %}